html, body, #nodes {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

%hidden {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.node {
  background-color: lightskyblue;
  border-radius: 50%;
  position: absolute;
  transition: left 1s ease-out, top 1s ease-out, width 1s ease-out, height 1s ease-out, opacity 1s ease-out, margin 1s ease-out, padding 1s ease-out;
  overflow: hidden;
}

.main {
  border: black solid 4px;
  padding: 16px;
  z-index: 3;

  &#home {
    transform: translateY(-64px);
  }

  h1 {
    font-size: 36px;
    margin-left: 5%;
    margin-right: 5%;
  }

  img {
    width: 75%;
  }
}

.parent {
  @extend %imm-outer;

  transform: translateY(32px);
}

.child {
  @extend %imm-outer;
}

%imm-outer {
  @extend %outer;

  border: black solid 2px;
  padding: 8px;
  z-index: 2;

  h1 {
    font-size: 18px;
    vertical-align: center;
  }

  img {
    width: 15vmin;
  }
}

.home-ancestor {
  @extend %outer;

  border: black solid 1px;
  z-index: 1;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  *:not(img) {
    display: none;
  }
}

%outer {
  *:not(.keep-thumb) {
    @extend %hidden;
  }
}

.offscreen {
  @extend %hidden;
  z-index: 0;
}

.mapouter {
  text-align:right;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 250px;
  width: 100%;
}