html, body, #nodes {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

* {
  text-align: center; }

img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.parent :not(.keep-thumb), .child :not(.keep-thumb), .home-ancestor :not(.keep-thumb), .offscreen {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0; }

.node {
  background-color: lightskyblue;
  border-radius: 50%;
  position: absolute;
  transition: left 1s ease-out, top 1s ease-out, width 1s ease-out, height 1s ease-out, opacity 1s ease-out, margin 1s ease-out, padding 1s ease-out;
  overflow: hidden; }

.main {
  border: black solid 4px;
  padding: 16px;
  z-index: 3; }
  .main#home {
    transform: translateY(-64px); }
  .main h1 {
    font-size: 36px;
    margin-left: 5%;
    margin-right: 5%; }
  .main img {
    width: 75%; }

.parent {
  transform: translateY(32px); }

.parent, .child {
  border: black solid 2px;
  padding: 8px;
  z-index: 2; }
  .parent h1, .child h1 {
    font-size: 18px;
    vertical-align: center; }
  .parent img, .child img {
    width: 15vmin; }

.home-ancestor {
  border: black solid 1px;
  z-index: 1; }
  .home-ancestor img {
    position: absolute;
    width: 100%;
    height: 100%; }
  .home-ancestor *:not(img) {
    display: none; }

.offscreen {
  z-index: 0; }

.mapouter {
  text-align: right; }

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 250px;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
